---
---

@import index, font, basic, layout, classes

html
  background: $light // Light mode background
  padding: 0 calc(38% - 22em)
  color: $dark // Text color in light mode

body
  box-shadow: 0 0 .3em reduce(85) // Subtle shadow blending with the light theme

body > header, body > footer
  background: $light
  color: $dark

@media (prefers-color-scheme: dark)
  html
    background: $dark // Dark mode background
    color: $light // Text color in dark mode

  body
    box-shadow: 0 0 .3em reduce(15) // Subtle shadow blending with the dark theme

  body > header, body > footer
    background: $dark
    color: $light
